<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="2.1.2" manuallyInstalled="true" />
  <package id="MAVLink" version="1.0.8" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="SharpCompress" version="0.41.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" />
  <package id="ZstdSharp.Port" version="0.8.6" />
</packages>